<div class="container ">
	<div class="hero">
		<div class="row margin-lg-30t margin-lg-80b margin-sm-10b margin-xs-0t">
			<div class="col-sm-12  margin-lg-30b">
				<div class="about-details style3">
					<div class="content">
						<h5 class="subtitle">ABOUT ME</h5>
						<div class="text">
							<p>My greatest ambition is to create powerful images that commemorate, across																								                                            work and experience are the engines that keep it all going.</p>
						</div>
						<div class="button-wrap">
							<a href="{{path ('about')}}" class="a-btn-2 button">
								Say hello
								<i class="fa fa-caret-right" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row  margin-lg-5t margin-lg-80b margin-xs-25b">
			<div class="portfolio-wrapper container">
				<div class="portfolio l-more col-3 big_gap masonry_modern clearfix no_margin" data-space="5">
					<div class="margin-lg-30b">
						<div class="wpb_wrapper">
							{% for projet in projets %}
								{% for image in projet.photo.snapshot %}
									<div class="item block_item_0 creativity">
										<a class="item-link gridrotate-alb default yes" target="_self">
											<div class="item-img">
												<div
													class="images-one">
													{# {{ dump(projet.photo.snapshot[1].file) }} #}
													<img data-lazy-src="{{vich_uploader_asset(image, 'imageFile') | imagine_filter('miniature') }}" src="{{vich_uploader_asset(image, 'imageFile') | imagine_filter('miniature') }}" class="" alt=""/></div>
													{# <img data-lazy-src="{{ asset ('images/' ~ image.file) }}" src="{{ asset ('images/' ~ image.file) }}" class="" alt=""/></div> #}

											</div>
											<div class="item-overlay"></div>
											<div class="portfolio-title">
												<h5>{{image.nom}}</h5>
												<div class="social-icon fa fa-share-alt">
													<ul class="big_gap_share">
														<li>
															<div class="fa fa-facebook" data-share="{{photographe.facebook}}"></div>
														</li>
														<li>
															<div class="fa fa-instagram" data-share="{{photographe.instagram}}"></div>
														</li>
														<li>
															<div class="fa fa-linkedin" data-share="{{photographe.linkedin}}"></div>
														</li>
													</ul>
												</div>
											</div>
										</a>
									</div>
								{% endfor %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row  margin-lg-80b">
		{% for commentaire in commentaires %}
			<div class="col-sm-6 col-lg-4 col-md-4 col-xs-12  margin-lg-10b margin-sm-50b">
				<div class="wpb_wrapper">
					<div class="twitter-wrapper ">
						<span class="fa fa fa-twitter"></span>
						<div class="twitter-wrap">
							<div class="name">
								{{commentaire.user.nom}}
							</div>
							<div class="slug">
								{{commentaire.date | date("d/m/Y")}}
							</div>
							<div class="description">
								{{commentaire.contenu}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div></div>
