{% extends '@EasyAdmin/layout.html.twig'%}


{% block content%}


	<div class="jumbotron">
		<h1 class="display-4">Administration</h1>
		<p class="lead">Bienvenu
			{{ea.user.prenom}}
			{{ea.user.nom}}
		</p>
		<div>
			<p>Vous avez actuellement :
			</p>
			<ul>
				<li>
					{% set result = 0 %}
					{% for projet in ea.user.projet.snapshot %}
						{% if projet.statut == 1 %}
							{% set result = result + projet.statut %}
						{% endif %}
					{% endfor %}
					{{result}}
					projets publiés.
				</li>
				{# <li>
					{% set result = 0 %}
					{% for projet in ea.user.projet.snapshot %}
						{% if projet.statut == 0 %}
							{% set result = result + projet.statut %}
						{% endif %}
					{% endfor %}
					{{result}}
					actualité affiché sur votre page d'accueil.
				</li>
				<li>
					{% set result = 0 %}
					{% for projet in ea.user.projet.snapshot %}
						{% if projet.statut == 2 %}
							{% set result = result + projet.statut %}
						{% endif %}
					{% endfor %}
					{{result}}
					projets archivés.
				</li> #}
			</ul>
		</div>
		<div>
			<p>Votre lien instagram est :
				{{ea.user.instagram}}
			</p>
			<p>Votre lien linkedin est :
				{{ea.user.linkedin}}</p>
			<p>Votre lien facebbok est :
				{{ea.user.facebook}}</p>
		</div>


	{% endblock %}
