{% for photo in projet.photo.snapshot %}
	{% if photo.etat == "1" %}
		<div class="container-full">
			<div class="row margin-lg-60b margin-sm-20b margin-xs-25b">
				<div class="col-sm-12 ">
					<div class="container-fluid top-banner full-height-window center_content">
						<img data-lazy-src="{{ asset ('images/' ~ photo.file) }}" src="{{ asset ('images/' ~ photo.file) }}" class="s-img-switch" alt=""/>
						<div class="content">
							<div class="row text-light">
								<div class="col-xs-12">
									<h4 class="subtitle">{{projet.categorie.snapshot[0].nom}}</h4>
									<h1 class="title">{{projet.titre}}</h1>
									<p class="descr">{{projet.description}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}
